<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <title>Python Table</title>
</head>
<body>
  <h1>FLASK | SQLite :: {{ table_name }}</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Created At</th>
                <th>Prefix</th>
                <th>Title</th>
                <th>link</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td><a href="{{ row[4] }}">Link id {{ row[0] }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>